body{
    height: 100vh;
}
form{
    margin-top: 2em;
}
ul{
    margin-top: 2em;
}
.jumbodark{
    background-color: black;
    color: white;
}
.jumbodark ul li{
    color: #2c3e50;
}
.edit{
    float: right;
    background-color: #feca57;
    color: white;
    padding:10px;
    width: 70px;
    text-align: center;
}
.delete{
    float: right;
    background-color: #ff6b6b;
    color: white;
    padding:10px;
    margin-right: 10px;
    width: 70px;
    text-align: center;
}
.item{
    text-align: left;
}
