*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: helvetica;
}
#container{
    width: 100vw;
    /* background-color: pink; */
}
#wrapper{
    display: flex;
}
#map{
    height: 90vh;
    flex:4;
    outline: 1px solid pink;
}
#places{
    outline: 1px solid blue;
    flex:1;
}
.typeWalk{
    color:red;
}
.typeActivity{
    color: blue;
}
.typeCafe{
    color:green;
}
.typeRetail{
    color:orange
}
