*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: helvetica;
}
#container{
    width: 100vw;
    /* background-color: pink; */
}
#wrapper{
    display: flex;
}
#map{
    height: 95vh;
    flex:4;
    /* outline: 1px solid pink; */
}
#places{
    /* outline: 1px solid blue; */

}
.typeWalk{
    color:red;
}
.typeActivity{
    color: blue;
}
.typeCafe{
    color:green;
}
.typeRetail{
    color:orange
}
#rightbox{
    flex:1;
    padding: 2em;
    height: 95vh;
    overflow: scroll;
}
h2{
    padding-bottom: 1em;
}
form{
    padding-bottom: 2em;
}
form select{
    width: 100%;
}
#travelModeSbmt{
    width: 100%;
    margin-top: 1em;
}
