body{
    font-family: helvetica;
    text-align: center;
    font-size: 3em;
    color: #f5cd79;
    padding-top: 2em;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 0.5em;
}

img{
    width: 200px;
    height: 200px;
}

input{
    width: 50vw;
    padding: 1em;
}

.labelTxt{
    color: black;
    font-size: 0.4em;
    text-align: left;
    width: 100%;
}

.product{
    border: 1px #f5cd79 solid;
}

.flexMe{
    display: flex;
}

.flexChildren{
    flex: 1
}
